<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="home.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">



    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            background-color: white;
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        .bg-image {
            height: 630px;
            width: 100%;
            transition: height 1s;
        }
    </style>
</head>

<body>
    <div class="divBody">
        <div class="headerPart zindex">
            <div class="bg-image">
                <div id="panel" style="display: none;">
                    <header>
                        <div class="logo">
                            <img src="/assets/images.png">
                        </div>

                        <div class="list">
                            <ul>
                                <li><a href="#" class="cool-link">Magazine</a></li>
                                <li><a href="#" class="cool-link">News and Press</a></li>
                                <li><a href="#" class="cool-link">Foundation</a></li>
                                <li><a href="#" class="cool-link">Careers</a></li>
                                <li><a href="#" class="cool-link">Contact</a></li>
                            </ul>
                        </div>

                        <div id="crossBtn">
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>

                            </button>
                        </div>
                    </header>
                </div>
                <div class="navbar">
                    <div class="rowHeader">
                        <div>
                            <img src="../../../assets/vectorstar.jpg" alt="Snow" class="iconsize">
                        </div>

                        <div class="centerStyle">
                            <a href="#what">What we do</a>
                            <a href="G:/golf/components/golfHome/overWorld/overWorld.html">Our worlds</a>
                            <a href="G:/golf/components/golfHome/Experience/experience.html">Experience</a>
                            <a href="#company">Company</a>
                            <a href="#contact">Contact</a>
                        </div>
                        <div id="flip">
                            <div class="container">
                                <div class="bar1"></div>
                                <div class="bar2"></div>
                                <div class="bar3"></div>
                            </div>
                        </div>
                    </div>


                    <div class="text-block">
                        <div class="heading animated fadeInDown">
                            Golf
                        </div>

                    </div>
                </div>



            </div>
            <div>
                <div class="paraCenter" data-myval="true">
                    <p>
                    <div class="para black " style="animation: Slide_Up 5s ease;">
                        We commission the world’s most renowned course architects to
                    </div>
                    <div class="para black" style="animation: Slide_Up 5s ease">design spectacular golf experiences on
                        challenging yet incredibly </div>
                    <div class="para black" style="animation: Slide_Up 5s ease">playable 18-hole courses. Our trademark
                        comfort stations also set </div>
                    <div class="para black" style="animation: Slide_Up 5s ease">new standards in on-course amenities.
                    </div>
                    </p>
                </div>
                <div class="ImgPara">
                    <div class="morePara changethis" data-myval="true">
                        <div class="para ">
                            Perfect recreation in an unmatched location</div>
                        <p>
                        <div class="paraLine black">Our widely-acclaimed courses have been designed by </div>
                        <div class="paraLine black">some of the world’s very best architects, including </div>
                        <div class="paraLine black">Robert Trent Jones Jr. and Tom Fazio. </div>
                        </p>
                        <p>
                        <div class="paraLine black">And it’s their genius way of transforming unique </div>
                        <div class="paraLine black">landscapes into stunningly scenic courses that make </div>
                        <div class="paraLine black">our golf experience as beautiful as it is playable.</div>

                        </p>
                        <p>
                        <div class="paraLine black">Every fairway rewards the perfect drive, every bunker </div>
                        <div class="paraLine black">has been carefully placed, every pin position has been </div>
                        <div class="paraLine black">meticulously planned – with all our courses thoughtfully </div>
                        <div class="paraLine black">crafted for challenge and leisure.</div>
                        </p>
                        <p>
                        <div class="paraLine black">So you can choose to take on your fellow members in </div>
                        <div class="paraLine black">ultra-competitive annual tournaments, or just play for </div>
                        <div class="paraLine black">the fun of it…barefoot with the family. This is luxury and </div>
                        <div class="paraLine black">fun on your own terms.</div>
                        </p>
                    </div>
                    <div class="img">
                        <div>
                            <img class="image" src="../../../assets/image2.jpg" />
                        </div>

                    </div>
                </div>

                <div class="videoStyle zindex">
                    <div>

                        <div class="wrapper">
                            <video autoplay loop class="video" muted plays-inline>
                                <source src="../../assets/Golf_Swing.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>

                </div>


                <div class="ImgPara zindex">
                    <div class="img">
                        <div>
                            <img class="image" src="../../../assets/image1.jpg" />
                        </div>

                    </div>
                    <div class="morePara ">
                        <div class="para">
                            Perfect recreation in an unmatched location</div>
                        <p class="w3-container w3-center w3animatebottom">
                        <div class="paraLine">Our widely-acclaimed courses have been designed by </div>
                        <div class="paraLine">some of the world’s very best architects, including </div>
                        <div class="paraLine">Robert Trent Jones Jr. and Tom Fazio. </div>
                        </p>
                        <p>
                        <div class="paraLine">And it’s their genius way of transforming unique </div>
                        <div class="paraLine">landscapes into stunningly scenic courses that make </div>
                        <div class="paraLine">our golf experience as beautiful as it is playable.</div>

                        </p>
                        <p>
                        <div class="paraLine">Every fairway rewards the perfect drive, every bunker </div>
                        <div class="paraLine">has been carefully placed, every pin position has been </div>
                        <div class="paraLine">meticulously planned – with all our courses thoughtfully </div>
                        <div class="paraLine">crafted for challenge and leisure.</div>
                        </p>
                        <p>
                        <div class="paraLine">So you can choose to take on your fellow members in </div>
                        <div class="paraLine">ultra-competitive annual tournaments, or just play for </div>
                        <div class="paraLine">the fun of it…barefoot with the family. This is luxury and </div>
                        <div class="paraLine">fun on your own terms.</div>
                        </p>
                    </div>
                </div>
                <div class="slideshow-container imageFullSize">

                    <!-- Full-width images with number and caption text -->
                    <div class="mySlides ">
                        <img src="../../../assets/golf.jpg" style="width:100%">
                    </div>

                    <div class="mySlides ">
                        <img src="../../../assets/bgimage.jpg" style="width:100%">
                    </div>

                    <div class="mySlides ">
                        <img src="../../../assets/treeWater.jpg" style="width:100%">
                    </div>

                </div>
                <br>

                <!-- The dots/circles -->
                <div class="slideImage">
                    <div class="row">
                        <div class="row2">
                            <div onclick="plusSlides(-1)">
                                <img src="../../../assets/arrow_back_black_36x36.png" class="arrowImage"
                                    style="width:100%">
                            </div>
                            <div onclick="plusSlides(1)">
                                <img src="../../../assets/arrow_forward_black_36x36.png" style="width:100%">
                            </div>
                        </div>
                        <div class="dotCenter">
                            <span class="dot" onclick="currentSlide(1)"></span>
                            <span class="dot" onclick="currentSlide(2)"></span>
                            <span class="dot" onclick="currentSlide(3)"></span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="container zindex">
                <div class="footerAboveImg ">
                    <div class="centered">
                        <div>Outdoor Pursuits</div>
                        <div class="explore">
                            <div class="exploreInnerDiv">
                                Explore

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer>
            <div class="footer">
                <div class="row">
                    <img src="../../../assets/golf.jpg" alt="Snow" class="iconsize">
                    <div class="row">
                        <div>
                            <div class="InnerFooter">Company</div>
                            <div class="InnerFooter">Careers</div>
                            <div class="InnerFooter">Foundation</div>
                            <div class="InnerFooter">Press</div>
                            <div class="InnerFooter">Privacy</div>

                        </div>
                        <div>
                            <div class="InnerFooter">Get in Touch</div>
                            <div class="InnerFooter">(480)624-5688</div>
                            <div class="InnerFooter">mail@discoverylandco.com</div>
                        </div>
                    </div>
                </div>
                <div>
                    <p>© Discovery Land Company. All rights reserved.</p>
                </div>
            </div>
        </footer>
        <script src="./Home.js"></script>
    </div>
</body>

</html>